{% extends 'index.html' %}
{% load static %}
{% block content %}
<div class="w-full sm:w-9/12 lg:w-8/12 px-4 mx-auto mt-auto">
    <div class="grid grid-cols-3 grid-rows-1">
        <h1 class="text-xl col-start-1 col-span-3 justify-self-center md:text-3xl my-3 md:w-full w-3/4 text-center">Welcome to Creative Universe Productions!</h1>
    </div>
    <div class="flex flex-row justify-center">
        <div id="unique-background" class="flex flex-row justify-center md:bg-cover rounded-lg xl:rounded-full w-3/4 py-2 px-2" style="background-image: url('{% static 'blackhole_o.png' %}')">
            <img src="{% static 'headshot.jpg' %}" class="hidden sm:block shrink max-h-32 md:max-h-40 w-auto my-auto rounded-full brightness-75 hover:hue-rotate-60 border-4 border-slate-800" alt="Katelyn Stephens">
            <span class="flex flex-col md:justify-center shrink">
                <p class="px-8 py-8 md:py-4 md:px-4 max-w-screen-md">Creative Universe Productions is where my heart and art collide. I'm Katelyn Stephens, a Southern
                    Arizona artist, and this is my world of creativity. Here, you'll find everything from my latest original
                    artworks and prints to recent photography adventures. Interested in a custom piece? <a class="hyperlink" href="#">Get in touch</a> for commissions!. To learn more about me and my journey with
                    Creative Universe Productions, see the <a class="hyperlink" href="#">About</a> section. I can't wait to share my universe with you!
                </p>
            <span>
        </div>
    </div>
    <div class="flex flex-row justify-center px-8 mx-auto">
        <h1 class="text-xl md:text-2xl my-3">Recent Art</h1>
    </div>
    <div class="grid lg:grid-cols-2 xl:grid-cols-3 gap-10 px-2 py-2 mx-auto mb-4 justify-items-center">
        {% if recent_art %}
        {% for art in recent_art %}
        <div class="bg-kate-200 overflow-hidden md:w-64 w-64 mx-2 rounded-lg">
            <a href="{% url 'art_detail' art.id %}" target="_blank" rel="noreferrer"><img src="{{ art.image.url }}" class="h-64 md:h-64 w-full object-cover"alt=""></a>
            <a href="{% url 'art_detail' art.id %}" target="_blank" rel="noreferrer"><h2 class="font-bold bold_underline px-1 pt-1">{{ art.title }}</h2></a>
            <h2 class="font-medium text-sm px-1 pb-1">{{ art.description }}</h2>    
        </div>
        {% endfor %}
        {% else %}
        <p>No art to display at this time.</p>
        {% endif %}
    </div>
    <div class="flex flex-row justify-center px-8">
        <h1 class="text-xl md:text-2xl my-3">Explore Collections</h1>
    </div>
    <div class="grid lg:grid-cols-2 xl:grid-cols-3 gap-10 px-2 py-2 mx-auto mb-4 justify-items-center">
        {% if collections %}
        {% for collect in collections %}
        <div class="bg-kate-200 overflow-hidden md:w-64 w-64 mx-2 rounded-lg">
            <a href="{% url 'collection_detail' collect.id %}" target="_blank" rel="noreferrer"><img src="{{ collect.image.url }}" class="h-64 md:h-64 w-full object-cover"alt=""></a>
            <a href="{% url 'collection_detail' collect.id %}" target="_blank" rel="noreferrer"><h2 class="font-bold bold_underline px-1 pt-1">{{ collect.name }}</h2></a>
            <h2 class="font-medium text-sm px-1 pb-1">Pieces in collection: {{ collect.artpiece_set.count }}</h2>    
        </div>
        {% endfor %}
        {% else %}
        <p>No collections to display at this time.</p>
        {% endif %}
    </div>
</div>
    <!--Add 'Shop for Art' with latest 3 pieces in the shop and their price. Also add links to each header.-->
<script>
    $(document).ready(function() {
        function changeBackgroundForSmallScreens() {
            if ($(window).width() <= 767) {
                // Change the image for small screens, targeting the specific div
                $('#unique-background').css('background-image', 'url({% static "blackhole_p.png" %})');
            } else {
                // Set it back for larger screens
                $('#unique-background').css('background-image', 'url({% static "blackhole_o.png" %})');
            }
        }
    
        changeBackgroundForSmallScreens();
    
        $(window).resize(changeBackgroundForSmallScreens);
    });
</script>
        
        
{% endblock %}
{% block fixedfooter %}{% endblock %}
