{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
	<title>{% block sitetitle %}Creative Universe Art Productions{% endblock %}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta name="description" content="Creative Universe Art is Katelyn Stephens art hosting platform. Check out her art and purchase your today!">
    	<meta name="author" content="Katelyn Stephens">
		<meta property="og:type" content="website">
		<meta property="og:locale" content="en_US">
		<meta property="og:site_name" content="Creative Universe Art">
		<meta property="og:site_creator" content="Lewis Fletcher">
		<meta property="og:url" content="#">
		<meta property="og:description" content="{% block meta_description %}Creative Universe Art is Katelyn Stephens art hosting platform. Check out her art and purchase your today!{% endblock %}">
		<meta property="og:image" content="">
		<meta name="twitter:site" content="">
		<meta name="twitter:title" content="">
		<meta name="twitter:description" content="">
		<meta name="twitter:url" content="">
		<meta name="twitter:card" content="summary">
		<meta name="twitter:image" content="">
		<link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Montserrat">
		<link rel="preload" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5/css/all.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
		<noscript><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5/css/all.min.css"></noscript>
		<script src="https://unpkg.com/htmx.org@1.8.2"></script>
		<script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
		<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
	  	<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
		{% block head %}
		
		{% endblock %}
		{% tailwind_css %}
	</head>

	<body class="antialiased text-white font-montserrat leading-normal tracking-normal bg-black w-full bg-repeat-y {% block background_option %} bg-contain xxl:bg-cover{% endblock background_option %}" style="background-image: url('{% static 'universe_lg_b.png' %}')">
		{% include 'navbar.html' %}
		<span class="" id="hiddennav">
			{% block sidebar %}
			{% endblock %}
			<div class="w-full sm:w-9/12 lg:w-8/12 px-4 sm:pr-2 lg:pr-4 mx-auto md:mt-auto">
				{% block content %}
				{% endblock %}
			</div>
		<!-- Script for navbar -->
		<script>
			function toggle(hidden) {
				var elem = document.getElementById("mobilenav")
				var elem2 = document.getElementById("hiddennav")
				var elem3 = document.getElementById("menubutton")
				var elem4 = document.getElementById("background")
				if (elem.classList.contains("hidden")) {
					elem.classList.remove('hidden');
					elem2.classList.add('hidden');
					elem3.setAttribute('name', 'close');
					elem4.setAttribute('style', "background-image: url('{% static 'universe_mob2.png' %}')")
				} else {
					elem.classList.add('hidden');
					elem2.classList.remove('hidden')
					elem3.setAttribute('name', 'menu');
					elem4.setAttribute('style', "")
				}
			}
		</script>
		<!-- Script for portfolio filter -->
		<script>
			function toggle2(hidden) {
				var elem = document.getElementById("menubg")
				var elem2 = document.getElementById("categoryselect")
				var elem3 = document.getElementById("categoryicon")
				var elem4 = document.getElementById("cathtml")
				var elem5 = document.getElementById("width")
				if (elem2.classList.contains("hidden")) {
					elem.classList.add('bg-slate-600');
					elem.classList.add('bg-opacity-25');
					elem2.classList.remove('hidden');
					elem3.setAttribute('name', 'close');
					elem4.innerHTML = ("");
					elem4.classList.remove('pr-2');
					elem5.classList.remove('w-32');
				} else {
					elem.classList.remove('bg-slate-600');
					elem.classList.remove('bg-opacity-25');
					elem2.classList.add('hidden');
					elem3.setAttribute('name', 'add-outline');
					elem4.innerHTML = ("Filter");
					elem4.classList.add('pr-2');
					elem5.classList.add('w-32');
				}
			}
		</script>
		  <footer>
			<hr class="mt-8 border-black pt-[5.5rem]">
			<div class="flex flex-wrap items-center md:justify-between justify-center {% block fixedfooter %} fixed inset-x-0 bottom-0{% endblock %} bg-gray-800 bg-opacity-25">
				<div class="w-full md:w-4/12 px-4 mx-auto text-center">
				  <div class="text-sm text-slate-500 font-semibold py-10">
					© Creative Universe Art Productions
				  </div>
				</div>
			  </div>
			</div>
		  </footer>
		</span>  
	</body>
</html>
