{% extends 'index.html' %}
{% load static %}
{% block head %}
<style>
    img.markdownimg {
        max-width: 25%;
    }
</style>
{% endblock %}
{% block content %}
<div class="flex flex-row justify-center px-8">
    <h1 class="text-2xl md:text-3xl my-3">About Creative Universe</h1>
</div>
{% if info %}
<div class="flex flex-col px-2 py-6 w-full sm:w-9/12 lg:w-8/12 sm:pr-2 lg:pr-4 mx-auto md:mt-auto">
    <span class="">
        {{info|safe}}
    </span>
</div>
{% else %}
{% endif %}
{% endblock %}