{% extends 'index.html' %}
{% load static %}
{% block background_option %}
bg-cover
{% endblock %}
{% block content %}
<div class="flex flex-row justify-center px-8">
    <h1 class="text-2xl md:text-3xl my-3">About</h1>
</div>
{% if info %}
<div class="flex flex-col px-2 py-6">
    <h1 class="text-lg font-semibold pb-2 ">About the Artist</h1>
    <span class="flex flex-row">
        <img class="w-36 pr-4 pb-4" src="{{ info.selfie.url }}" alt="">
        <p>{{info.full_name}} created Creative Universe Art in 2018. Through this name, she has {{info.creative_universe_exp}}</p>
    </span>
    <p>{{info.biography_1}}</p>
    <p>{{info.biography_2}}</p>
    <p>{{info.biography_3}}</p>
    <p>{{info.biography_4}}</p>
    <p>Fun Fact! Katelyn has lived in thwe following places: {{info.places_lived}}</p>
</div>
<div class="flex flex-col px-2 py-6">
    <h1 class="text-lg font-semibold pb-2 ">About Creative Universe Art</h1>
    <span class="flex flex-row">
        <img class="w-36 pr-4 pb-4" src="{{ info.favorite_art_piece.image.url }}" alt="">
        <p>Creative Universe Art contains a gallery of past and present artworks created by Katelyn Stephens. Some works in the gallery are for sale in the 
            'shop' section of this site. This piece is Katelyn's current favorite as it {{info.favorite_art_reason}}
        </p>
    </span>
    <p>Katelyn currently uses the following art stationary/techniques, but is always learning and trying new things: {{info.art_style}}</p>
</div>
{% else %}
{% endif %}
{% endblock %}