{% extends 'index.html' %}
{% load shop_filters %}
{% load static %}
{% block background_option %}
{% if items.count == 0 %}
bg-contain lg:bg-cover
{% elif not items.count %}
bg-contain
{% elif items.count > 1 %}
bg-contain
{% elif items.count == 1 %}
bg-contain xl:bg-cover
{% else %}  
bg-contain lg:bg-cover
{% endif %}
{% endblock %}
{% block content %}

<div class="flex items-center justify-center h-full mx-auto"> <!-- Make sure the container has a height -->
    <div class="flex flex-col md:flex-row h-auto md:h-16 bg-kate-200 w-[76.5%] self-center justify-center items-center md:space-x-12 text-lg">
        <span>
            <a href="{% url 'shop' %}?category=originals" class="text-white hover:text-kate-300 {% if request.GET.category == 'originals' %}underline decoration-4 decoration-kate-100 underline-offset-4{% endif %}">Originals</a>
        </span>
        <span>
            <a href="{% url 'shop' %}?category=prints" class="text-white hover:text-kate-300 {% if request.GET.category == 'prints' %}underline decoration-4 decoration-kate-100 underline-offset-4{% endif %}">Prints</a>
        </span>
        <span>
            <a href="{% url 'shop' %}?category=stickers" class="text-white hover:text-kate-300 {% if request.GET.category == 'stickers' %}underline decoration-4 decoration-kate-100 underline-offset-4{% endif %}">Stickers</a>
        </span>
        <span>
            <a href="{% url 'shop' %}?category=photography_prints" class="text-white whitespace-nowrap hover:text-kate-300 {% if request.GET.category == 'photography_prints' %}underline decoration-4 decoration-kate-100 underline-offset-4{% endif %}">Photography Prints</a>
        </span>
        <span>
            <a href="{% url 'shop' %}?category=merch" class="text-white hover:text-kate-300 {% if request.GET.category == 'merch' %}underline decoration-4 decoration-kate-100 underline-offset-4{% endif %}">Merch</a>
        </span>
    </div>
</div>
<div class="flex flex-row justify-center mx-auto">
    <h1 class="text-2xl md:text-3xl my-3">{% if not request.GET.category %}Recent Added Items{% else %}{{category}}{% endif %}</h1>
</div>
<div class="w-full xl:w-8/12 px-4 mx-auto mt-auto">
    {% if items %}
    <div class="grid md:grid-cols-2 xl:grid-cols-3 gap-10 px-2 py-2 mx-auto mb-4 justify-items-center">
    {% include 'shop_loop.html' %}
    </div>
    {% else %}
    <p class="text-center mt-6 mx-8">Sorry! Nothing to display here at this time.</p>
    {% endif %}
</div>
    
{% endblock %}