{% extends 'index.html' %}
{% block background_option %}
bg-contain 
{% endblock background_option %}

{% block content %}
<div class="flex flex-row justify-between px-8">
    <span class="basis-1/4 pt-5"><p>{% include 'category_select.html' %}</span>
    <span class="basis-1/4"><h1 class="text-xl md:text-2xl my-3">All Art</h1></span>
    <span class=""></span>
</div>
<div class="grid lg:grid-cols-2 xl:grid-cols-3 gap-10 px-2 py-2 mx-auto w-3/4 xl:w-3/4 mb-4">
    {% if arts %}
    {% for art in arts %}
    <div class="bg-slate-600 overflow-hidden w-64 mx-2 bg-opacity-25 rounded-b-lg">
        <span class="h-64 overflow-hidden"><a href="{% url 'art_detail' art.id %}" ><img src="{{ art.image.url }}" class="w-64 max-h-[16rem] object-cover object-center overflow-hidden"alt=""></a></span>
        <span class="align-bottom">
            <a href="{% url 'art_detail' art.id %}" ><h2 class="font-bold bold_underline pl-1 bottom-1">{{ art.title }}</h2></a>
            <h2 class="font-medium text-sm pl-1 bottom-0">{{ art.description }}</h2>   
        </span> 
    </div>
    {% endfor %}
    {% else %}
    <p>No art to display at this time.</p>
    {% endif %}
</div>
{% include "paginator.html" %}
{% endblock %}