{% extends 'index.html' %}
{% if collections.count < 3 %}
    {% block background_option %}
    bg-cover
    {% endblock %}
{% else %}
{% endif %}
{% block content %}
<div class="flex flex-row justify-between px-8">
    <span class="basis-1/4"><h1 class="text-xl md:text-2xl my-3">All Collections</h1></span>
</div>
<div class="grid lg:grid-cols-2 xl:grid-cols-3 gap-10 px-2 py-2 mx-auto w-3/4 xl:w-3/4 mb-4">
    {% if collections %}
    {% for collect in collections %}
    <div class="bg-slate-600 overflow-hidden md:w-64 w-64 mx-2 bg-opacity-25 rounded-b-lg">
        <a href="{% url 'collection_detail' collect.id %}" ><img src="{{ collect.image.url }}" class="h-64 md:h-64 w-full object-cover"alt=""></a>
        <a href="{% url 'collection_detail' collect.id %}" ><h2 class="font-bold bold_underline pl-1">{{ collect.name }}</h2></a>
        <h2 class="font-medium text-sm pl-1">Pieces in collection: {{ collect.artpiece_set.count }}</h2>     
    </div>
    {% endfor %}
    {% include "paginator.html" %}
    {% else %}
    <p>No collections to display at this time.</p>
    {% endif %}
</div>
{% endblock %}